// Button
//
// Standard button
//
// :hover - hover style
// :active - active style
// .block - block style
// .light & - on light
//
// Markup:
//   <a href="#" class="button {{ modifier }}"><span class="button__text">This is a Button</span></a>
//
// Styleguide 3.2

.button {
  position: relative;
  display: block;
  padding: 0;
  margin: $vr auto $vr * 2;
  background: $dark;
  color: $white;
  text-decoration: none;
  text-align: left;
  @include font-secondary;
  @include body;

  &::before {
    @include small;
    color: transparent;
    position: absolute;
    bottom: 0; left: 0; right: 0;
    padding: $vr / 4 $wr;
    background: $dark;
    transition: all $transition-time;
    overflow: hidden;
  }

  &:hover {
    .button__text {
      background: $light;
      transform: translate(-2px, -3px);
    }
    &::before {
      color: $light;
      transform: translateY(99%);
    }
  }

  &[target="_blank"] {
    &::before {
      content: attr(href);
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.button__text {
  position: relative;
  display: block;
  padding: $vr $wr * 6 $vr $wr;
  margin: 0;
  z-index: 1;
  background: $medium;
  transition: all $transition-time;
  margin-right: $wr * 3;
  //backface-visibility: hidden;
  @supports (clip-path: polygon(0 0, 100% 100%, 0 100%)) {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - #{$wr * 4}), calc(100% - #{$wr * 4}) 100%, 0 100%);
    margin-right: $wr;
  }
}
