// Main Footer
.footer-main {
  position: relative;
  [data-page-type="gallery"] & {
    z-index: 8675309;
  }
}
.footer-main__halftone {
  // position: absolute;
  top: 0; left: 0; right: 0;
  height: $vr * 4;
  background: $dark;
}
