// Main Navigation
//

.nav-main {
  position: relative;
  z-index: 8675309;
  @include gridContainer(0);
  background: $dark;
}
.nav-main__section {
  display: block;
  text-decoration: none;
  color: $light;
  transition: all $transition-time;
  padding: $vr * 4 $wr * 4;
  border-bottom: 1px solid $medium;

  @include mq ($bp-medium) {
    padding: 7vh $wr * 4;
    min-height: calc(50vh - #{$vr * 5});
    border-right: 1px solid $medium;
    border-bottom: none;
    @include colspan (1,3,0);

    .h2 {
      margin-left: $wr * -2;
    }
  }

  &:hover {
    a {
      color: $white;
    }
  }

  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  > * {
    max-width: $wr * 35;
    margin-left: 0;
  }
}
a.nav-main__section {
  &:hover {
    color: $white;
  }
}
