$width-margin: $wr * 4;
$width-margin-large: $wr * 8;
$outer-drop-shadow: 6px 8px 0 $dark;
$inner-drop-shadow: 3px 4px 0 $dark;
$magic-angle-calc: calc((100vw - #{2 * $width-margin}) / 12);
$magic-angle-calc-small: calc((75vw - #{2 * $width-margin}) / 12);
$angle-offset-at-max-size: ($site-max-width - 2 * $width-margin) / 12;
$header-height: 50vh;

.article {
  position: relative;
  color: $black;
  padding-top: $header-height;
  max-width: pxToRem(1680);
  margin: $vr * 4 auto $vr * 100;
  animation: margin-top-away 3s forwards;

  &::before {
    content: '';
    position: absolute;
    top: $header-height; bottom: 0; left: -2rem;
    z-index: 1;
    width: $width-margin + 3;
    background: $off-white;
    box-shadow: $outer-drop-shadow;
    @include mq ($bp-large) {
      width: $width-margin-large + 3;
    }
    @include mq ($bp-max) {
      // infinite left at max size
      left: -999rem;
      right: 100%;
      margin-right: -1 * $width-margin-large - $wr * 2;
      width: auto;
    }
  }
  &::after {
    position: absolute;
    top: calc(#{$header-height} + #{$vr * 3}); bottom: 0; right: 0;
    left: calc(100% - #{$width-margin + $wr});
    z-index: 1;
    background: $off-white;
    box-shadow: $outer-drop-shadow;
    clip-path: polygon($magic-angle-calc 0, 100% 0, 100% 100%, 0 100%, 0 $magic-angle-calc);
    @include mq ($bp-medium) {
      content: '';
    }
    @include mq ($bp-large) {
      left: calc(100% - #{$width-margin-large});
    }
    @include mq ($bp-max) {
      // infinite right at max size
      right: -999rem;
      clip-path: polygon($angle-offset-at-max-size 0, 100% 0, 100% 100%, 0 100%, 0 $angle-offset-at-max-size);
    }
  }
}
.article__header {
  position: absolute;
  top: 0; right: 0; left: 0;
  height: calc(#{$header-height} + #{$vr * 7});
  z-index: 0;
  filter: drop-shadow($inner-drop-shadow);
  background: $light center center no-repeat;
  background-size: cover;

  canvas {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }

  @include mq ($bp-max) {
    right: auto; left: 50%;
    width: 100vw;
    transform: translateX(-50%);
  }
}
.article__inner {
  position: relative;
  margin: 0 $wr;
  padding: $vr * 3 0;
  min-height: 100vh;
  z-index: 2;
  @extend %clear-fix;
  filter: drop-shadow($outer-drop-shadow);

  h1,h2,h3,h4,h5 {
    @extend %content-header;
    text-shadow: 2px 3px 0 $dark;
  }
  // h2,h3,h4,h5 {
  //   clear: both;
  // }

  &::before {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0;
    right: -1 * $wr;
    background: $off-white;
    clip-path: polygon(0 0, #{10/11*100%} 0, 100% $magic-angle-calc, 100% 100%, 0 100%);

    @include mq ($bp-medium) {
      right: 1 / 12 * 100%;
    }
    @include mq ($bp-max) {
      clip-path: polygon(0 0, #{10/11*100%} 0, 100% $angle-offset-at-max-size, 100% 100%, 0 100%);
    }
  }

  > h1:first-child {
    //margin: -15 * $vr -1 * $wr;
    @include colspan (11,12,0);
    position: relative;
    margin-top: -9 * $vr;
    min-height: $vr * 10;
    padding: $vr * 2 $wr 0;
    background: $off-white linear-gradient(to bottom, $white $vr * 6, transparent 100%);
    &::after {
      content: '';
      position: absolute;
      top: $vr * 6; right: -3px; bottom: 0;
      width: 3px;
      background: linear-gradient(to bottom, $dark, transparent);
      opacity: .25;
      clip-path: polygon(0 0, 100% 0, 0 100%);
    }
    @include mq ($bp-small) {
      @include colspan (8,12,0);
      @include colpush (3,12,0);
    }
    @include mq ($bp-medium) {
      @include colspan (7,12,0);
      @include colpush (3,12,0);
    }
  }

  @include mq ($bp-medium) {
    margin: 0 $width-margin + $wr;
  }
  @include mq ($bp-large) {
    margin-left: $width-margin-large;
    margin-right: $width-margin-large;
  }
}

.article__content {
  // set default width of inner modules, to be overridden as needed
  @include colspan (12);
  position: relative;
  @include mq ($bp-small) {
    @include colspan (8);
    @include colpush (2);
  }
  @include mq ($bp-large) {
    @include colspan (6);
    @include colpush (3);
  }
}

%article-content-breakout-left, .breakout-left {
  background: #ccc;
  margin-left: -1 * $wr;
  @include mq ($bp-small) {
    margin-left: calc(#{-1 / 4 * 100%} - #{$wr / 2});
  }
  @include mq ($bp-medium) {
    margin-left: calc(#{-1 / 8 * 100%} - #{$wr / 4});
  }
  @include mq ($bp-large) {
    margin-left: calc(#{-1 / 6 * 100%} - #{$wr / 3});
  }
}
%article-content-breakout-right, .breakout-right {
  background: #ccc;
  margin-right: -1 * $wr;
  @include mq ($bp-small) {
    margin-right: calc(#{-1 / 4 * 100%} - #{$wr / 2});
  }
  @include mq ($bp-medium) {
    margin-right: 0;//calc(#{-1 / 8 * 100%} - #{$wr / 4});
  }
  @include mq ($bp-large) {
    margin-right: calc(#{-1 / 6 * 100%} - #{$wr / 3});
  }
}

// left and right floats
.article__content {
  .left {
    @extend %article-content-breakout-left;
    @include mq ($bp-small) {
      float: left;
      width: calc(#{5 / 8 * 100%} - #{$wr * 6 / 8});
      margin-right: $wr * 2;
    }
    @include mq ($bp-large) {
      width: calc(#{4 / 6 * 100%} - #{$wr * 2 / 3});
    }
  }
  .right {
    @extend %article-content-breakout-right;
    @include mq ($bp-small) {
      float: right;
      width: calc(#{5 / 8 * 100%} - #{$wr * 6 / 8});
      margin-left: $wr * 2;
    }
    @include mq ($bp-medium) {
      width: calc(50% - #{$wr});
    }
    @include mq ($bp-large) {
      width: calc(#{4 / 6 * 100%} - #{$wr * 2 / 3});
    }
  }
}
