// Colors
$black: #333333;
$white: #fff;
$off-white: #e9e9e9;
$neutral: #c7c7c7;
$neutral-dark: mix($neutral,$black,75%);
// greens
$dark: #011c1f; //#002342; //#001528;
$medium: #003539;
$light: #046c6f;

// teals
// $dark: #063f4a;
// $medium: #0d6a7c;
// $light: #22a6c7;

// blues
// $dark: #191e2f;
// $medium: #222f59;
// $light: #2154a0;

$accent: $light;
