<article class="illustration">
  <div class="illustration__main">
    <div class="illustration__image" style="background-image: url(/images/{{ piece.image }});{% if piece.bgColor %} background-color: {{ piece.bgColor }};{% endif %}">
      <img src="/images/{{ piece.image }}" alt="{{ piece.title }}">
    </div>
    <header class="illustration__header">
      <h1>{{ piece.title }}</h1>
      {% if piece.redbubbleUrl %}
        <div class="illustration__nav">
          <a class="button" href="{{ piece.redbubbleUrl }}" target="_blank"><div class="button__text">View on Redbubble</div></a>
        </div>
      {% endif %}
    </header>
  </div>
  {% if piece.content %}
    <div class="illustration__content">
      {{ piece.content }}
    </div>
  {% endif %}
</article>
