<nav class="nav-main">
  <a href="/interactive" class="nav-main__section">
    <p class="h2">Interactive</p>
    <p>Some of my web work, from professional sites to personal prototypes. Either way, it's only my shiny stuff.</p>
  </a>
  <a href="/illustration" class="nav-main__section">
    <p class="h2">Illustration</p>
    <p>A gallery of some of my illustrations. Many of which are for sale. Just putting that out there...</p>
  </a>
  <div class="nav-main__section contact">
    <p class="h2">Contact</p>
    <p>
      The best way to reach me is by email:
      <a href="mailto: glenn@glenn-martin.com" class="h4">glenn@glenn-martin.com</a>
    </p>
    <p>
      You can also download my
      <a href="/glenn-martin-resume.pdf" class="h4" target="_blank">PDF resume</a>
    </p>
  </div>
</nav>
