// Links
//
// Markup:
//   <p>Here's something that's fun. Get away from those little Christmas tree things we used to make in school. We'll take a little bit of <a href="#">Van Dyke Brown</a>. This is gonna be a happy little seascape. We tell people sometimes: we're like drug dealers, <a href="#">come into town</a> and get everybody absolutely addicted to painting. It doesn't take much to get you addicted.</p>
//
// Styleguide 2.2

$link-color: $accent;

a {
  color: inherit;
  text-decoration: none;
}
p a {
  display: inline-block;
  color: $link-color;
  transition: all $transition-time;
  text-decoration: none;
  font-weight: 700;
  &:hover {
    transform: translate(pxToEm(-.66px,18), pxToEm(-1px,18));
    text-shadow: pxToEm(.66px,18) pxToEm(1px,18) 0 $medium;
  }
}
