<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <title>{% if title %}{{ title }} - {% endif %}Portfolio of Glenn Martin</title>

  <link rel="stylesheet" href="/css/styles{% if env != 'development' %}.min{% endif %}.css">

  <meta property="og:image" content="http://glenn-martin.com/images/share-image.png">
  <meta property="og:title" content="{% if title %}{{ title }} - {% endif %}Portfolio of Glenn Martin">
  <meta property="og:site_name" content="Portfolio of Glenn Martin">
  <meta property="og:description" content="Interactive Media Artist, Digital Creator, Web Developer, Web Designer, Illustrator...">
</head>
<body data-page-type="{{ pageType }}">
  <div class="global-container">
    {% include '_partials/nav-main.html' %}
    <header class="header-main">
      <a href="/" class="header-main__link">
        <div class="logo">
          <div class="logo__main">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 240.5 241.2" enable-background="new 0 0 240 240" xml:space="preserve">
              <path class="logo__path-middle" d="M120,26.9c-51.2,0-92.8,41.5-92.8,92.8c0,38.2,23.1,71,56,85.2C57,191.4,39,164.2,39,132.6
                c0-44.7,36.3-81,81-81s81,36.3,81,81c0,31.5-18,58.8-44.3,72.2c33-14.2,56-47,56-85.2C212.8,68.4,171.2,26.9,120,26.9z"/>
            </svg>
            <div class="logo__inner">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 240.5 241.2" enable-background="new 0 0 240 240" xml:space="preserve">
                <path class="logo__path-inner" d="M182.9,139.2c0-0.1-0.1-0.3-0.1-0.4c-0.1-0.7-0.2-1.3-0.4-2c0-0.1,0-0.2-0.1-0.3c0,0,0,0,0,0
                  c-3.9-16.9-19-29.4-37-29.4c-20,0-36.4,15.4-37.9,35c4.1-12.9,16.1-22.2,30.3-22.2c17.5,0,28.9,9.7,28.9,27.2
                  c0,15.7-16.5,25.9-31,25.9c-29.4,0-53.3-20.4-53.3-45.6s17.4-49.1,53.5-49.1c23.8,0,43.8,17,50.6,35.4c-7-29.7-33.6-51.9-65.5-51.9
                  c-37.2,0-67.3,30.1-67.3,67.3c0,37.2,30.1,67.3,67.3,67.3c42.3,0,65.1-28.8,62.2-55.2C183.1,140.6,183.1,139.9,182.9,139.2z"/>
              </svg>
            </div>
          </div>
          <div class="logo__outer">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 240.5 241.2" enable-background="new 0 0 240 240" xml:space="preserve">
              <path class="logo__path-outer" d="M233.8,80.2c-14.7-43.5-60.6-68.3-107.5-60.9c52.5,3.3,94.1,46.9,94.1,100.3c0,27.5-11,52.4-28.9,70.6
                C229.2,166.5,247.8,121.5,233.8,80.2z"/>
            </svg>
          </div>
        </div>
        <h1 class="header-main__title">Glenn Martin</h1>
      </a>
    </header>

    {% block content %}{% endblock %}

    {% if pageType and pageType != 'index' %}
      <footer class="footer-main">
        <div class="footer-main__halftone"></div>
        {% include '_partials/nav-main.html' %}
      </footer>
    {% endif %}
  </div>

  <script src="/js/scripts{% if env != 'development' %}.min{% endif %}.js"></script>

  {% if env != 'development' %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-15483350-1', 'auto');
    ga('send', 'pageview');

  </script>
  {% endif %}
</body>
</html>
