{% set pageType = 'index' %}
{% extends '_layout.html' %}

{% block content %}
  <ul class="my-titles">
    <li class="my-titles__title major">Interactive Media Artist</li>
    <li class="my-titles__title">Web Developer</li>
    <li class="my-titles__title">Digital Creator</li>
    <li class="my-titles__title">Web Designer</li>
    <li class="my-titles__title">Illustrator</li>
    <li class="my-titles__title">Web Animator</li>
    <li class="my-titles__title minor">Musician</li>
    <li class="my-titles__title minor">Geek</li>
    <li class="my-titles__title minor">Goalie</li>
  </ul>
{% endblock %}
