{% set title = entry.title %}
{% set pageType = 'article' %}

{% extends '_layout.html' %}

  {% block content %}
    <article class="article">
      <header class="article__header" style="background-image: url(/images/{{ entry.masthead }})"></header>
      <div class="article__layout">
        <div class="article__inner">
          <h1 class="article__title">{{ entry.title }}</h1>
          <aside class="article__details">
            <div class="article__details-grid">
							{% if entry.siteUrl or entry.prototypeUrl %}
	              <nav class="article__details-nav">
	                {% if entry.siteUrl %}
	                  <a class="button" href="{{ entry.siteUrl }}" target="_blank"><div class="button__text">View Site</div></a>
	                {% endif %}
	                {% if entry.prototypeUrl %}
	                  <a class="button" href="{{ entry.prototypeUrl }}" target="_blank"><div class="button__text">View Prototype</div></a>
	                {% endif %}
	              </nav>
							{% endif %}
              <div class="roles">
                {% if entry.roles %}
                  <h4 class="roles__header">My Role{% if entry.roles|length > 1 %}s{% endif %}</h4>
                  <ul class="roles__list">
                    {% for role in entry.roles %}
                      <li class="role-tag {{ role|replace(' ','-') }}">{{ role|title }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
              <p class="article__date">{{ entry.date | date ('MMMM, YYYY') }}</p>
            </div>
          </aside>
          <div class="article__content">
            {{ entry.content }}
          </div>

          <div class="relateds__container">
            {#<h3 class="relateds__header">Related</h3>#}
            <nav class="relateds">
              <div class="relateds__inner">
                {% for article in relatedEntries %}
                  {% include '_partials/articleCard.html' %}
                {% endfor %}
              </div>
            </nav>
          </div>

          {#<div class="dev-grid">
            <div class="dev-grid__column"></div>
            <div class="dev-grid__column"></div>
            <div class="dev-grid__column"></div>
            <div class="dev-grid__column"></div>
            <div class="dev-grid__column"></div>
            <div class="dev-grid__column"></div>
            <div class="dev-grid__column"></div>
            <div class="dev-grid__column"></div>
            <div class="dev-grid__column"></div>
            <div class="dev-grid__column"></div>
            <div class="dev-grid__column"></div>
            <div class="dev-grid__column"></div>
          </div>#}
        </div>
      </div>
    </article>
  {% endblock %}
